body {
    background-color: #000000; /* Dark background */
    color: #ffffff; /* Light text */
    text-align: center; /* Center the content horizontally */
}

h1 {
    color: #ffffff; /* Light text */
}

table {
    width: 50vh;
    border-collapse: collapse;
    margin: 0 auto; /* Center the table horizontally */
}

table, th, td {
    border: 5px solid #1a1a1a; /* Light border */
    color: #b6b6b6; /* Light text */
}

th, td {
    padding: 5px;
    text-align: center;
}

tr[data-crypto], tr[data-crypto2] {
    background-color: #222222; 
    color: #141414; 
}
